/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/*
@import "tailwindcss/base";
@import "./base.css";
@import "tailwindcss/components";
@import "./components.css";
@import "tailwindcss/utilities";

Ubuntu
FiraSans
*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap'); */
/* @import 'react-alice-carousel/lib/alice-carousel.css'; */

/* @import '@splidejs/splide/dist/css/themes/splide-default.min.css'; */
@import '@splidejs/splide/dist/css/splide-core.min.css';
/* @import '@splidejs/splide/dist/css/themes/splide-sea-green.min.css'; */
/* @import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
}

@layer components {
	/* outer container will define aspect ratio */
	.outer {
		position: relative;
		width: 100%;
		padding-top: 100%;
		/* "height" will be 3/4 of width */
	}
	/* inner container positioned absolutely and holds content */
	.outer .inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-height: 800px;
		max-width: 800px;
	}
	.max800 {
		max-height: 800px;
		max-width: 800px;
	}
	/* example content */
	.left-side {
		padding-right: 80%;
		height: 50%;
		/* max-width: 143px; */
		/* max-height: 333px; */
	}
	/* example content */
	.right-side {
		/* width: 31.25%; */
		height: 100%;
		padding-left: 68.75%;
		/* max-width: 143px; */
		/* max-height: 333px; */
	}
	.metricsA {
		background: #def2ff;
		color: #00568e;
	}
	.metricsB {
		background: #fed8ff;
		color: #00568e;
	}
	.metricsC {
		background: #d4cfec;
		color: #00568e;
	}
	.textMetric {
		color: #00568e;
	}
	.titleBg {
		background: #0e151c;
	}
	.battleBg {
		background: rgb(122, 43, 113);
		background: radial-gradient(circle, rgba(122, 43, 113, 1) 0%, rgba(87, 17, 47, 1) 100%);
	}
	.titleBgColor {
		background: #1a2732;
	}
	.ethemeralsBg {
		background: #1a2732;
	}
	.galleryBar {
		background: #0e151b;
	}
	.customblue {
		background: #0e151c;
	}
	.svgTwitter {
		background: #0e151c;
	}
	.privacyPolicy p {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.landBg {
		background: rgb(12, 7, 29);
	}
	.titleBgMob {
		object-fit: cover;
		object-position: 55% 100%;
	}
}

.splide-thumb .splide__slide {
	opacity: 0.3;
	border: none;
}
.splide-thumb .splide__slide.is-active {
	opacity: 1;
	background: #1a2732;
}
