/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/*
@import "tailwindcss/base";
@import "./base.css";
@import "tailwindcss/components";
@import "./components.css";
@import "tailwindcss/utilities";

Ubuntu
FiraSans
*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
/* @import 'react-alice-carousel/lib/alice-carousel.css'; */

/* @import '@splidejs/splide/dist/css/themes/splide-default.min.css'; */
@import '@splidejs/splide/dist/css/splide-core.min.css';
/* @import '@splidejs/splide/dist/css/themes/splide-sea-green.min.css'; */
/* @import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
}

@layer components {
	.community-bg {
	}
	.caro-item {
		width: 100%;
		height: 100%;
		background: white;
		border-radius: 5px;
		will-change: transform, opacity;
	}

	.splide-wrapper {
		height: 600px;
		max-height: 600px;
	}

	.caro-wrapper {
		height: 800px;
		max-height: 800px;
	}

	.caro-container {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-gap: 25px;
		padding: 25px;
		background: white;
		cursor: pointer;
		will-change: width, height;
	}

	/* outer container will define aspect ratio */
	.outer {
		position: relative;
		width: 100%;
		padding-top: 100%;
		/* "height" will be 3/4 of width */
	}

	/* inner container positioned absolutely and holds content */
	.outer .inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-height: 600px;
		max-width: 600px;
	}

	/* example content */
	.left-side {
		padding-right: 80%;
		height: 50%;
		/* max-width: 143px; */
		/* max-height: 333px; */
	}

	/* example content */
	.right-side {
		/* width: 31.25%; */
		height: 100%;
		padding-left: 68.75%;
		/* max-width: 143px; */
		/* max-height: 333px; */
	}

	.homeContainer {
		top: 10%;
	}
	.homeContainerMD {
		top: 16%;
	}
	.homeContainerLG {
		top: 24%;
	}
	.metricsA {
		background: #def2ff;
		color: #00568e;
	}

	.metricsB {
		background: #fed8ff;
		color: #760879;
	}

	.metricsC {
		background: #d4cfec;
		color: #5241a5;
	}

	.textMetric {
		color: #004371;
	}
	.navBg {
		background: #030029;
	}
	.titleBg {
		background: #0e151c;
	}
	.battleBg {
		background: rgb(122, 43, 113);
		background: radial-gradient(circle, rgba(122, 43, 113, 1) 0%, rgba(87, 17, 47, 1) 100%);
	}
	.elfBg {
		background: #e6dada;
	}
	.titleBgColor {
		background: #1a2732;
	}
	.ethemeralsBg {
		background: #1a2732;
	}
	.galleryBar {
		background: #0e151b;
	}
}

.splide-thumb .splide__slide {
	opacity: 0.3;
	border: none;
}
.splide-thumb .splide__slide.is-active {
	opacity: 1;
	background: #1a2732;
}
