/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/*
@import "tailwindcss/base";
@import "./base.css";
@import "tailwindcss/components";
@import "./components.css";
@import "tailwindcss/utilities";

Ubuntu
FiraSans
*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import 'react-alice-carousel/lib/alice-carousel.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
}

@layer components {
	.navBg {
		background: #030029; /* fallback for old browsers */
	}
	.titleBg {
		background: #0e151c; /* fallback for old browsers */
	}
	.battleBg {
		background: rgb(122, 43, 113);
		background: radial-gradient(circle, rgba(122, 43, 113, 1) 0%, rgba(87, 17, 47, 1) 100%);
	}
	.elfBg {
		background: #e6dada; /* fallback for old browsers */
	}
	.roadmapBg {
		background: #e6dada; /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #e6dada, #b2bdc2); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #e6dada, #b2bdc2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.ethemeralsBg {
		background: #003973; /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #e5e5be, #003973); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #e5e5be, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}
